@inherits LayoutComponentBase

<div class="page">
    <div class="navbar">
        <NavBar />
    </div>

    <main class="pt-5">
        <!-- Add top padding to avoid content overlapping with the navbar -->
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
